      <div>
          <div>
            <h5><p>BlogName</p></h5>
            <h6>Posted by a "User" on a certain "date" in time</h6>
          </div>
          <div>
            <p>this post is just so informitive. there will be nothing left to learn after reading this post.</p>
          </div>
      </div>